<p>Choose a table that you would like to view</p>
<form action="/show_table" method="post">
  <label for="table_name">Table Name：</label>
  <input type="radio" name="table_name" value="Department">Department
  <input type="radio" name="table_name" value="Dependent">Dependent
  <input type="radio" name="table_name" value="Dept_location">Dept_location
  <input type="radio" name="table_name" value="Employee">Employee
  <input type="radio" name="table_name" value="Project">Project
  <input type="radio" name="table_name" value="WORKS_ON">WORKS_ON
  <input type="submit" value="Submit">
</form>
<a href="/index">Back to the index</a><br>