<p>Choose a table that you would like to view</p>
<form action="/show_table" method="post">
  <label for="table_name">Table Name：</label>
  <input type="radio" name="table_name" value="Address">Address
  <input type="radio" name="table_name" value="Dish">Dish
  <input type="radio" name="table_name" value="Menu">Menu
  <input type="radio" name="table_name" value="Payment">Payment
  <input type="radio" name="table_name" value="Restaurant">Restaurant
  <input type="radio" name="table_name" value="Review">Review
  <input type="radio" name="table_name" value="Style">Style
  <input type="submit" value="Submit">
  <br>
  <label for='AreaName'>Area：</label>
  <select name='AreaName'>
    <option value=""></option>
    <option value="香港島">香港島</option>
    <option value="九龍西">九龍西</option>
    <option value="九龍東">九龍東</option>
    <option value="新界東">新界東</option>
    <option value="新界西">新界西</option>
  </select>
  <label for='DistrictName'>District：</label>
  <select name='DistrictName'>
    <option value=""></option>
    <option value="中西區">中西區</option>
    <option value="東區">東區</option>
    <option value="南區">南區</option>
    <option value="灣仔區">灣仔區</option>
    <option value="九龍城區">九龍城區</option>
    <option value="深水埗區">深水埗區</option>
    <option value="油尖旺區">油尖旺區</option>
    <option value="黃大仙區">黃大仙區</option>
    <option value="觀塘區">觀塘區</option>
    <option value="北區">北區</option>
    <option value="西貢區">西貢區</option>
    <option value="沙田區">沙田區</option>
    <option value="大埔區">大埔區</option>
    <option value="離島區">離島區</option>
    <option value="葵青區">葵青區</option>
    <option value="荃灣區">荃灣區</option>
    <option value="屯門區">屯門區</option>
    <option value="元朗區">元朗區</option>
  </select>
  <label for="StreetName">Street：</label>
  <input type="TEXT" name="StreetName">
</form>
<a href="/index">Back to the index</a><br>
