<p>Choose a table that you would like to view</p>
<form action="/show_table" method="post">
  <label for="table_name">Table Name：</label>
  <input type="radio" name="table_name" value="Address">Address
  <input type="radio" name="table_name" value="Dish">Dish
  <input type="radio" name="table_name" value="Menu">Menu
  <input type="radio" name="table_name" value="Payment">Payment
  <input type="radio" name="table_name" value="Restaurant">Restaurant
  <input type="radio" name="table_name" value="Review">Review
  <input type="radio" name="table_name" value="Style">Style
  <input type="submit" value="Submit">
  <br>
  <label for='AreaName'>Area：</label>
  <select name='AreaName'>
    <option value=""></option>
    <option value="香港島">香港島</option>
    <option value="九龍西">九龍西</option>
    <option value="九龍東">九龍東</option>
    <option value="新界東">新界東</option>
    <option value="新界西">新界西</option>
  </select>
  <label for='DistrictName'>District：</label>
  <select name='DistrictName'>
    <option value=""></option>
    <option value="中西區">中西區</option>
    <option value="東區">東區</option>
    <option value="南區">南區</option>
    <option value="灣仔區">灣仔區</option>
    <option value="九龍城區">九龍城區</option>
    <option value="深水埗區">深水埗區</option>
    <option value="油尖旺區">油尖旺區</option>
    <option value="黃大仙區">黃大仙區</option>
    <option value="觀塘區">觀塘區</option>
    <option value="北區">北區</option>
    <option value="西貢區">西貢區</option>
    <option value="沙田區">沙田區</option>
    <option value="大埔區">大埔區</option>
    <option value="離島區">離島區</option>
    <option value="葵青區">葵青區</option>
    <option value="荃灣區">荃灣區</option>
    <option value="屯門區">屯門區</option>
    <option value="元朗區">元朗區</option>
  </select>
  <label for="StreetName">Street：</label>
  <input type="TEXT" name="StreetName">
  <br>
  <label for="RestaurantName">Restaurant：</label>
  <input type="TEXT" name="RestaurantName">
  <label for="DishName">Dish：</label>
  <input type="TEXT" name="DishName">
  <label for='StyleName'>Style：</label>
  <select name='StyleName'>
    <option value=""></option>
    <option value="中式餐廳">中式餐廳</option>
    <option value="印度餐廳">印度餐廳</option>
    <option value="台式餐廳">台式餐廳</option>
    <option value="小吃店">小吃店</option>
    <option value="新加坡餐廳">新加坡餐廳</option>
    <option value="日式餐廳">日式餐廳</option>
    <option value="泰國餐廳">泰國餐廳</option>
    <option value="海鮮餐廳">海鮮餐廳</option>
    <option value="清真餐廳">清真餐廳</option>
    <option value="澳大利亞餐廳">澳大利亞餐廳</option>
    <option value="火鍋店">火鍋店</option>
    <option value="素食餐廳">素食餐廳</option>
    <option value="義大利餐廳">義大利餐廳</option>
    <option value="茶餐廳">茶餐廳</option>
    <option value="西班牙餐廳">西班牙餐廳</option>
    <option value="西餐廳">西餐廳</option>
    <option value="越南餐廳">越南餐廳</option>
    <option value="雜貨店">雜貨店</option>
    <option value="韓國餐廳">韓國餐廳</option>
  </select>
  <br>
  <label for='Rating'>Rating：</label>
  <select name='Rating'>
    <option value=""></option>
    <option value="1">above 1</option>
    <option value="2">above 2</option>
    <option value="3">above 3</option>
    <option value="4">above 4</option>
  </select>
  <label for='Payment'>Payment：</label>
  <select name='PaymentName'>
    <option value=""></option>
    <option value="a">Cash</option>
    <option value="b">Visa</option>
    <option value="c">Master</option>
    <option value="d">Octopus Card</option>
    <option value="e">Apply Pay</option>
    <option value="f">Alipay</option>
    <option value="g">Wechat Pay</option>
  </select>

</form>
<a href="/index">Back to the index</a><br>
